body {
    background-color: #050224;
}
p {
    color: white;
}
h1 {
    color: white;
}
li {
    color: white;
}
li {
    font-size:x-large
}
p {
    font-size: larger;
}
#amigos {
    size: 10cm;
}
p {
    font-size: x-large;
}
p {
    float: left;
    margin: 0 1.0%;
    width: 50%;
  }